<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Lab</title>
</head>

<body>
    <h1>California Native Plants</h1>
    <ul>
        <% nativeplants.forEach(function(plant) { %>
            <li>
                <%= plant.nativeplant %>
                    -
                    <%= plant.tree ? 'true' : 'false' %>
            </li>

            <% }); %>
    </ul>
</body>

</html>